/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 60px; }

/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0; }

.navbar-int {
  background-color: #1c305e;
  border: 0;
  border-radius: 0;
  color: white; }
  .navbar-int .navbar-toggle {
    border-color: white; }
    .navbar-int .navbar-toggle:focus, .navbar-int .navbar-toggle:hover {
      border-color: white; }
    .navbar-int .navbar-toggle .icon-bar {
      background-color: white; }
  .navbar-int .navbar-nav > li > a {
    border-bottom: 6px solid transparent;
    color: white;
    font-size: 1.6rem;
    font-weight: 200;
    margin: 0 40px;
    padding: 17px 10px; }
    .navbar-int .navbar-nav > li > a:focus, .navbar-int .navbar-nav > li > a:hover {
      background-color: transparent;
      border-color: transparent;
      color: white; }
  .navbar-int .navbar-nav > li.active > a {
    border-bottom-color: #e68141; }
  .navbar-int .navbar-nav > li .dropdown-toggle {
    font-weight: 700;
    padding: 17px 35px 17px 25px; }
  .navbar-int .navbar-nav > .open > a {
    background-color: #080808;
    color: white; }
    .navbar-int .navbar-nav > .open > a:focus, .navbar-int .navbar-nav > .open > a:hover {
      background-color: #080808;
      color: white; }

.navbar-brand {
  padding: 10px 36px; }
  .navbar-brand > img {
    height: 100%;
    width: 100%; }

/*
 * Sidebar
 */
.sidebar {
  background-color: #f5f5f5;
  bottom: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  display: block;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  padding: 0 0 20px;
  position: fixed;
  top: 60px;
  width: 200px;
  z-index: 1000; }

/* Sidebar navigation */
.panel-body ul {
  margin-bottom: 0;
  padding: 0; }

/*
 * Main content
 */
.main {
  margin-bottom: 40px;
  margin-left: 200px;
  padding: 20px;
  position: relative; }
  .main .page-header {
    margin-top: 0; }

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px; } }
/* Filters */
.caret {
  display: block;
  position: absolute;
  right: 15px;
  top: 25px; }

.filter-form .keywords {
  padding: 0 15px; }
.filter-form .panel {
  border-radius: 0;
  border-width: 0;
  box-shadow: none; }
  .filter-form .panel:first-child {
    border-top: 1px solid #878b8c; }
  .filter-form .panel:last-child {
    border-bottom: 1px solid #878b8c; }
  .filter-form .panel + .panel {
    border-top: 1px solid #878b8c;
    margin-top: 0; }
.filter-form .panel-heading {
  padding: 0; }
.filter-form .panel-title > a {
  background: linear-gradient(to bottom, white 0%, #d4d8d9 100%);
  display: block;
  padding: 20px 15px;
  position: relative; }
  .filter-form .panel-title > a:hover, .filter-form .panel-title > a:focus, .filter-form .panel-title > a:active {
    text-decoration: none; }
  .filter-form .panel-title > a::after {
    content: '\f105';
    font: normal normal normal 14px/1 FontAwesome;
    line-height: 1;
    position: absolute;
    right: 15px;
    transform: rotate(90deg);
    transition: all .2s ease;
    top: 20px; }
  .filter-form .panel-title > a.collapsed::after {
    transform: rotate(0deg);
    transition: all .2s ease; }
.filter-form .input-daterange input + input {
  margin-top: 10px; }
.filter-form .checkbox {
  margin: 0; }
  .filter-form .checkbox + .checkbox {
    margin-top: 10px; }
.filter-form button[type='submit'] {
  background-color: #57595b;
  border: 0;
  border-radius: 0;
  color: white;
  display: block;
  font-size: 1.6rem;
  padding: 15px 0;
  width: 100%; }

.navbar-form {
  display: flex;
  margin: 0;
  padding: 0; }
  .navbar-form .form-group {
    align-items: center;
    display: flex;
    padding: 0 15px; }
  .navbar-form .form-control {
    border-radius: 16px; }
  .navbar-form .btn {
    background-color: #57595b;
    border: 0;
    border-radius: 0;
    color: white;
    font-size: 1.6rem;
    padding: 6px 21px; }

.actions {
  align-items: center;
  display: flex;
  justify-content: flex-end; }
  .actions > * + * {
    margin-left: 2rem; }

.results-table thead > tr > th {
  background: #d2deea;
  color: #004c8a;
  vertical-align: top; }
.results-table tbody > tr {
  border-bottom: 1px solid #7e8081; }

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  align-items: center;
  display: flex;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  opacity: 1;
  text-rendering: auto;
  top: 0;
  transform: translate(0, 0); }

table.dataTable thead .sorting:after {
  content: "\f0dc"; }

table.dataTable thead .sorting_asc:after {
  content: "\f0de"; }

table.dataTable thead .sorting_desc:after {
  content: "\f0dd"; }

.item-name {
  font-weight: 700; }

.sale-price {
  color: #b6162c; }

.item-number,
.orig-price {
  display: block; }

/*
 * Footer
 */
.footer {
  background-color: #e6eaeb;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1000; }
  .footer .text-muted {
    margin: 10px 0;
    text-align: center; }
