/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
//.btn,
//.form-control {
//  background-color: hsl(206, 4%, 67%);
//  color: #000;
//}
//.pagination {
//  > li {
//    > a,
//    > span {
//      background-color: hsl(206, 4%, 67%);
//    }
//  }
//  .disabled {
//    > a,
//    > span {
//      &,
//      &:focus,
//      &:hover {
//        background-color: hsl(206, 4%, 67%);
//      }
//    }
//  }
//}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
.navbar-int {
  background-color: hsl(222, 54%, 24%);
  border: 0;
  border-radius: 0;
  color: hsl(0, 0%, 100%);

  .navbar-toggle {
    border-color: hsl(0, 0%, 100%);

    &:focus,
    &:hover {
      border-color: hsl(0, 0%, 100%);
    }
    .icon-bar {
      background-color: hsl(0, 0%, 100%);
    }
  }
  .navbar-nav {
    > li {
      ~ li {
        margin-left: 10rem;
      }
      > a {
        color: hsl(0, 0%, 100%);
        font-weight: 200;

        &:focus,
        &:hover {
          background-color: transparent;
          color: hsl(0, 0%, 100%);
        }
      }
      .dropdown-toggle {
        font-weight: 700;
      }
    }
    > .open > a {
      background-color: hsl(0, 0%, 3%);
      color: hsl(0, 0%, 100%);

      &:focus,
      &:hover {
        background-color: hsl(0, 0%, 3%);
        color: hsl(0, 0%, 100%);
      }
    }
  }
}
.navbar-brand {
  padding: 10px 36px;

  > img {
    height: 100%;
    width: 100%;
  }
}

/*
 * Sidebar
 */

.sidebar {
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  bottom: 0;
  display: block;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  padding: 0 20px 20px;
  position: fixed;
  top: 50px;
  width: 200px;
  z-index: 1000;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;

  > li > a {
    align-items: center;
    background: hsl(0, 0%, 100%);
    background: linear-gradient(to bottom, hsl(0, 0%, 100%) 0%, hsl(210, 2%, 81%) 100%);
    border-left: 6px solid transparent;
    color: hsl(0, 0%, 0%);
    display: inline-flex;
    font-size: 1.6rem;
    padding: 10px 30px 10px 30px;
    width: 100%;
  }
  > .active {
    > a {
      border-left: 6px solid hsl(22, 78%, 59%);
    }
  }
}
.icon {
  background: url(../img/icons.png) no-repeat;
  background-size: 100%;
  display: inline-block;
  flex: 0 0 21px;
  height: 21px;
  margin-right: 20px;
  width: 21px;
}
.icon-promo {
  background-position: 0 0;
}
.icon-review {
  background-position: 0 -21px;
}

/*
 * Main content
 */

.main {
  margin-bottom: 40px;
  margin-left: 200px;
  padding: 70px 20px 20px;
  position: relative;

  .page-header {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

/* Filters */
.navbar-filter {
  background-color: hsl(210, 20%, 98%);
  border: 0;
  border-radius: 0;
  color: hsl(0, 0%, 0%);
  left: 200px;
  position: fixed;
  top: 50px;
  width: calc(100% - 200px);

  .container-fluid {
    align-items: stretch;
    display: flex;
    height: 64px;
    justify-content: space-between;
    padding: 0;

    &:before,
    &:after {
      content: none;
    }
  }
  .navbar-toggle {
    border-color: hsl(0, 0%, 100%);

    &:focus,
    &:hover {
      border-color: hsl(0, 0%, 100%);
    }
    .icon-bar {
      background-color: hsl(0, 0%, 100%);
    }
  }
  .navbar-nav {
    > li {
      > a {
        border-right: 1px solid hsl(0, 0%, 0%);
        color: hsl(0, 0%, 0%);
        padding: 22px 20px;
      }
      .dropdown-toggle {
        font-weight: 700;
      }
    }
    > .open > a {
      background-color: hsl(0, 0%, 3%);
      color: hsl(0, 0%, 100%);

      &:focus,
      &:hover {
        background-color: hsl(0, 0%, 3%);
        color: hsl(0, 0%, 100%);
      }
    }
  }
}
.navbar-nav {
  align-items: stretch;
  display: flex;
}
.navbar-form {
  align-items: stretch;
  display: flex;
  margin: 0;
  padding: 0;

  .form-group {
    align-items: center;
    display: flex;
    padding: 0 15px;
  }
  .form-control {
    border-radius: 16px;
  }
  .btn {
    background-color: hsl(220, 2%, 35%);
    border: 0;
    border-radius: 0;
    color: hsl(0, 0%, 100%);
    font-size: 1.6rem;
    padding: 6px 21px;
  }
}

.actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  > * + * {
    margin-left: 2rem;
  }
}
thead > tr > th {
  background: hsl(210, 36%, 87%);
  color: hsl(207, 100%, 27%);
}
tbody > tr {
  border-bottom: 1px solid hsl(210, 1%, 50%);
}
.item-name {
  font-weight: 700;
}
.sale-price {
  color: hsl(352, 78%, 40%);
}
.item-number,
.orig-price {
  display: block;
}


/*
 * Footer
 */
.footer {
  background-color: hsl(192, 11%, 91%);
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;

  .text-muted {
    margin: 10px 0;
  }
}